body {
  display: inline-block;
  border: 10px solid rgb(0, 51, 102);
  background-color: rgb(149, 184, 209);
  font-style: oblique;
  margin-left: 0px;
  color: rgb(0, 51, 102);
}

h1 {
  border: 5px solid rgb(251, 190, 224);
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 700px;
}

h5 {
  color: rgb(66, 0, 57);
  display: inline-block;
  margin-left: 700px;
}
  
h6 {
  color: rgb(66, 0, 57);
  display: inline-block;
  margin-left: 700px;
}
  
h2 {
  border: 5px dotted rgb(184, 334, 210);
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  color: rgb(255,255,255);
  margin-left: 100px;
}
p {
  border: 5px dashed rgb(251, 190, 224);
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  color: rgb(0, 51, 102);
  margin-left: 10px;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-left: 700px;
}
/*background-color: rgb(205,184,216);
  /*
  /*background-color: rgb(106,90,205);/*
	
	