{%extends "layout.html"%}

{%set active_page="home"%}

    {%block title%}Home{%endblock%}

    
			{%block content%} 

       <h1>About alchohol use in different age groups</h1>
       <h2>This data is about the use of alchohol in different age groups. This survey is from the company NSDUH which stands for The National Survey on Drug Use and Health. NSDUH collects data on alchohol and drugs, and collects the data of what age group uses these products and how often. </h2>
       <h3>The immages bellow are of graphs made by NSDUH based on their survey data</h3>
	   <img src="{{url_for('static',filename='aaa.PNG')}}" alt="RISKS OF ALCHOHOL USE" width="467" height="500">
	   <img src="{{url_for('static',filename='bbb.PNG')}}" alt="RISKS OF ALCHOHOL USE" width="467" height="500">
	   <img src="{{url_for('static',filename='ccc.PNG')}}" alt="RISKS OF ALCHOHOL USE" width="467" height="500">
	   <img src="{{url_for('static',filename='ddd.PNG')}}" alt="RISKS OF ALCHOHOL USE" width="467" height="500">
	   {%endblock%}
  
