{%extends "layout.html"%}

{%set active_page="home"%}

    {%block title%}Home{%endblock%}
    
			{%block content%} 

       <h1>About alchohol use in different age groups</h1>
       <h2>This data is about the use of alchohol in different age groups. This survey is from the company NSDUH which stands for The National Survey on Drug Use and Health.</h2>
       <img src="{{url_for('static',filename='aaa.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='bbb.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ccc.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ddd.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='eee.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='fff.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ggg.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='hhh.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='iii.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='jjj.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='kkk.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='lll.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='mmm.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='nnn.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ooo.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ppp.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='qqq.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='rrr.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='sss.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='ttt.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='uuu.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='vvv.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='www.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='xxx.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='yyy.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   <img src="{{url_for('static',filename='zzz.JPG')}}" alt="RISKS OF ALCHOHOL USE" width="200" height="200">
	   {%endblock%}
  
