{%extends "layout.html"%}

{%set active_page="page1"%}

  {%block title%}Risks of alchohol usage{%endblock%}
  
	{%block style%}<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylepage.css')}}">{%endblock%}

		{%block content%} 

    <h1>Alchohol usage</h1>

  <form action='/page1'>
     <select name="agegroup">
      <option value="12-17">12-17</option>
      <option value="18-25">18-25</option>
      <option value="26+">26+</option>
     </select>
      <br><br>
      <input type="submit">
   </form>
		<P>{{fact}}</p>
    {%endblock%}


